body {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: rgb(251, 255, 255);
    padding: 5px 5px;
    border: 5px solid black;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #0084FF;
    color: white;
    padding: 5px 5px;
    border: 5px solid white;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

#section1{
    display: grid;
    grid-template-columns: auto auto auto;
    /* padding: 5px 5px;
    border: 5px solid rgb(190, 21, 21);
    margin: 5px 5px 5px 5px; */
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec1grp1{
    background-color:#B8DDFF;
    grid-column: 1/3;
    padding: 5px 5px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec1grp2{
    background-color: #CAF0DB;
    padding: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec1grp3{
    background-color: #FFD2D2;
    padding: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec1grp4{
    background-color: #FFE7C4;
    padding: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}


.sec1grp5{
    background-color: #D5D4F5;
    padding: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

#section2{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #9693E6;
    padding: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec2grp1{
    padding: 5px 5px;
     margin: 5px 5px 5px 5px;
     grid-template-columns: repeat(auto-fit, minma(250px, 1fr));

}

.sec2grp2{
    padding: 5px 5px;
    border: 5px solid white;
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    background-color: white;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

#section3{
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec3grp0{
    width: 500px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}    

.sec3grp1{
    background-color: #FFD2D2;
    border-radius: 10px;
    width: 500px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec3grp2{
    background-color: #FFC166;
    border-radius: 10px;
    width: 500px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec3grp3{
    background-color: #54C788;
    border-radius: 10px;
    width: 500px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

#section4{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    background-color: #9693E6;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}






.sec4grp0 {
    display: grid;
    grid-template-columns: auto;
    background-color: #9693E6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    justify-items: center;
    /* padding: 5px 5px; */
    /* border: 5px solid rgb(235, 35, 35); */
    margin: 0px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec4grp1{
    background-color: #D5D4F5;
    border-radius: 10px;
    padding: 5px 5px;
    border: 5px solid rgb(235, 35, 35);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec4grp2{
    background-color: #D5D4F5;
    border-radius: 10px;
    padding: 5px 5px;
    border: 5px solid rgb(235, 35, 35);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec4grp3{
    background-color: #D5D4F5;
    border-radius: 10px;
    padding: 5px 5px;
    border: 5px solid rgb(235, 35, 35);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec4grp4{
    background-color: #D5D4F5;
    border-radius: 10px;
    padding: 5px 5px;
    border: 5px solid rgb(235, 35, 35);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec4grp5{
    background-color: #D5D4F5;
    border-radius: 10px;
    padding: 5px 5px;
    border: 5px solid rgb(235, 35, 35);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

.sec4grp6{
    background-color: #D5D4F5;
    border-radius: 10px;
    padding: 5px 5px;
    border: 5px solid rgb(235, 35, 35);
    border-radius: 10px;
    margin: 5px 5px 5px 5px;
    grid-template-columns: repeat(auto-fit, minma(250px, 1fr));
}

#section5{
    display: grid;
    grid-template-columns: auto auto;
    
}