/* Mobile*/






#header {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #0084FF;
    color: white;
    margin: 5px;
    border-radius: 10px;
    
    
}
 
.dropdown {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: right;
    align-content: center;
    
}


#section1 {
    display: grid;
    grid-template-rows: auto auto auto auto ;
    
}

.one{
    display: grid;
    
}

.appstore {
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
}

.bluephone{
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}


.one {
    

    background-color: #B8DDFF;
    color: #0084FF;
    justify-items: center;
    border-radius: 10px;
    margin: 5px;
}

.two {
    
    display: grid;
    background-color: #CAF0DB;
    color: #54C788;
    justify-items: center;
    border-radius: 10px;
    margin: 5px;
}

.three {
    background-color: #FFD2D2;
    color: #FF8A8A;
    display: grid;
    justify-items: center;
    border-radius: 10px;
    margin: 5px;
}

.four {
    background-color: #FFE7C4;
    color: #FFC166;
    
    display: grid;
    justify-items: center;
    border-radius: 10px;
    margin: 5px;
}

.five {
    background-color: #D5D4F5;
    color: #9693E6;
    
    display: grid;
    justify-items: center;
    border-radius: 10px;
    margin: 5px;
}

#section2 {
    background-color: #9693E6;
    display: grid;
     grid-template-rows: auto auto;
    justify-items: center;
    border-radius: 10px;

}

.six {
    display: grid;
    justify-items: center;
    color: white;
    
}

.seven {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-self: 
    width: 970px;
    height: 430px;
    margin: 20px;
   
    
}

.seven1 {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
    border-radius: 10px;
    
    
}


.ideaman {
    display: grid;
    justify-items: ;
    background-color: white;
    width: 200px;
    border-radius: 20px;
}


.appd {
    display: grid;
    justify-items: center;
    
}


.arrow {
    background-color: #9693E6;
    display: grid;
    justify-self: center;
    border-radius: 50%;
    width: 50px;
    
}

#section3 {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    

}

.divcontainer1 {
    display: grid;
    justify-content: center;
}
    
.divcontainer2 {
    display: grid;
    justify-content: center;
    color: #9693E6;
}   

.divcontainer3 {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 491px;
    display: grid;
    width: 491px;
    align-content: space-between;
}


.dork {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    background-color: #FF8A8A;
    justify-items: center;
    border-radius: 10px;
    width: 400px;
    justify-self: center;
    margin: 5px;
    
}

.leftq1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}


.rightq1{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: end;
}


.hottie {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    background-color: #FFC166;
    justify-items: center;
    border-radius: 10px;
    width: 400px;
    justify-self: center;
    margin: 5px;
    
}

.leftq2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}

.rightq2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: end;
}


.red {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    background-color: #54C788;
    justify-items: center;
    border-radius: 10px;
    width: 400px;
    justify-self: center;
    margin: 5px;
    
}

.leftq3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: start;
}


.rightq3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-self: end;
}


#section4 {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #0084FF;
    color: white;
    
}

.beni1{
    display: grid;
    grid-template-rows: auto auto auto auto ;
    background-color:white;
    color: #9693E6;
    justify-items: center;
    border-radius: 10px;
    width: 550px;
    justify-self: center;
    margin: 5px;
    
}

.beni2
{
    display: grid;
    grid-template-rows: auto auto auto auto ;
    background-color: white;
    color: #9693E6;
    justify-items: center;
    border-radius: 10px;
    width: 550px;
    justify-self: center;
    margin: 5px; 
    
}

.creativeteam {
    display: grid;
    justify-self: baseline;
    
}

.beni3 {
    display: grid;
    grid-template-rows: auto auto auto auto ;
    background-color: white;
    color: #9693E6;
    justify-items: center;
    border-radius: 10px;
    width: 550px;
    justify-self: center;
    margin: 5px;
    
}
.results {
    display: grid;
    justify-self: baseline;
    
}

.beni4 {
    display: grid;
    grid-template-rows: auto auto auto auto ;
    background-color: white;
    color: #9693E6;
    justify-items: center;
    border-radius: 10px;
    width: 550px;
    justify-self: center;
    margin: 5px;
    
}

.pricing {
    display: grid;
    justify-self: baseline;
    
}
    

.beni5 {
    display: grid;
    grid-template-rows: auto auto auto auto ;
    background-color: white;
    color: #9693E6;
    justify-items: center;
    border-radius: 10px;
    width: 550px;
    justify-self: center;
    margin: 5px;
    
}

.innovations {
    display: grid;
    justify-self: baseline;
    
}


.beni6 {
    display: grid;
    grid-template-rows: auto auto auto auto ;
    background-color: white;
    color: #9693E6;
    justify-items: center;
    border-radius: 10px;
    width: 550px;
    justify-self: center;
    margin: 5px;
    
}

.support {
    display: grid;
    justify-self: baseline;
    
}

nav {
    display: grid;
    grid-template-columns: auto;
    justify-self: start;
    background-color: #9693E6;
    color: white;
    font-size:25px;
    border-radius: 10px;
    
}

.section5 {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    
}

.about {
    color: #9693E6;
    
}

.ptag1 {
    color: #9693E6;
    
}

.ptag2 {
    color: lightgray;
    
}


.bossman {
    border-radius: 50%;
    display: grid;
    grid-template-rows: auto;
    justify-self: left;
}

.bosstab{
    display: grid;
     grid-template-columns: auto ;
    

}


.bossquote {
    display: grid;
    position: absolute;
    background-color: #9693E6;
}

.linked {
    background-color:#9693E6 ;
    width: 250px;
    color: white;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    border-radius: 20px;
    margin: 20px;
    
}

#section6 {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #9693E6;
    justify-items: center;
    height: 600px;
    
}



.getstarted {
    background-color: white;
    width: 200px;
    height: 40px;
    font-size: large;
    color:#9693E6 ;
    border-radius: 20px;
    display: grid;
    grid-template-rows: auto auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    
}

.stp {
    color: white;
    font-size:x-large;
    display: grid;
    grid-template-columns: auto auto;
    text-align-last: center;
    
}
